/* IMPORTS */

@import "icons.scss";

/* VARIABLES */

$player-width: 370px;
$player-color-1: #cccccc;
$player-color-2: #186883;
$slider-color-1: #777;
$slider-color-2: #99a;
$box-color-1: #333;
$box-color-2: #0B323F;
$text-color-hover: #5cabb8;
$error-color: #b55;

/* MIXINS */

@mixin gradient($start, $end) {
	background: $start;
  	background: -moz-linear-gradient(top, $start, $end);
  	background: -webkit-gradient(linear, left top, left bottom, from($start), to($end));
}

@mixin slider-style {
	@include gradient($slider-color-1,$slider-color-2);
	position: relative;
    border: 1px solid #666;
    border-bottom: 1px solid #eee;
    -webkit-appearance: none !important;
}

@mixin border-radius($radius) {
	-moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

/* ANIM */

@-webkit-keyframes bounce{
    0%{-webkit-transform: scale(1.2);opacity:1;}
    100%{-webkit-transform: scale(0.7);opacity:0.1;}
}

/* PLAYER */

.player {
  	@include border-radius(10px);
  	@include gradient($player-color-1,$player-color-2);
  	margin: 50px auto 50px auto;
 	border: 1px solid #999;
  	border-top: 1px solid #bbb;
  	border-bottom: 1px solid #666;
  	-moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  	-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  	font-family: helvetica, arial;
  	font-size: 12px;
  	position: relative;
  	width: $player-width;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	/* IE */
  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF23ADC7, endColorstr=#FF186883);
  
  	a {
    	font: bold italic 11px Arial, Helvetica, sans-serif;
    	color: #3d727b;
    	margin: 0;
    	padding: 0;
    	text-decoration: none;
    	outline: none;
    	color: #fff;
    	&:hover {
    	  	color: $text-color-hover;
    	}
  	}
  
  	.playerNotSupported {
    	color: $error-color;
  	}
  
  	.playerDisplay {
    	@include border-radius(5px);
    	@include gradient($box-color-1,$box-color-2);
    	text-shadow: 0 1px 0 #000;
    	margin: 10px 20px;
    	padding: 10px;
    	border-bottom: 1px solid #fff;
    	font-size: 12px;
    	color: #fff;
    	text-shadow: 0 1px 0 #000;
    	/* IE */
    	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF555555, endColorstr=#FF333333);
    	.playerTime {
    		float: right;
    	}
  	}
  
  	.playerPositionSlider {
  		@include slider-style;
  		@include border-radius(4px);
    	width: $player-width - 42;
    	margin: 0 20px;
    	height: 8px;
    	z-index: 1;
    	font-size: 8px;
    	/* IE */
    	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF777777, endColorstr=#FF9999AA);
  	}
  
  	.playerLoadingProgress {
  		@include slider-style;
    	@include border-radius(4px);
    	width: $player-width - 42;
    	margin: 0 20px;
    	height: 2px;
    	font-size: 8px;
    	/* IE */
    	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFCCCCCC, endColorstr=#FFEEEEEE);
  	}
  
  	.playerControlBar {
    	margin: 10px 20px;
    	text-align: center;
    	height: 30px;
  	}
  
  	ul.playerControls {
	  	@include icon-style;
    	width: 140px;
    	margin: 0px;
    	padding: 3px 0px 0px 0px;
	    height: 30px;
	    float:left; 	
    
	    .playerBtnPlay {
	      	@include play-icon;
	    }
	    .playerBtnPause {
	      	@include pause-icon;
	    }
	    .playerBtnStop {
	      	@include stop-icon;
	    }
	    .playerBtnPrev {
	      	@include prev-icon;
	    }
	    .playerBtnNext {
	    	@include next-icon;
	    }
	    .playerBtnPlaylist {
	    	@include list-icon;
	    }
	    .playerBtnVolume  {
	    	@include volume-icon;
	    }
	    .playerBtnMute {
	      	@include mute-icon;
	    }
  	}
  	
  	div.playerLoading {
  		float:left;
  		margin:auto;
  		width: 40px;
  		height:30px;
  		padding-top:6px;
  		
  		div.playerLoadingBlock {
  			background-color:$player-color-2;
		    border:2px solid $box-color-2;
		    float:left;
		    height:15px;
		    margin-left:3px;
		    width:4px;
		    -webkit-animation-name: bounce;
		    -webkit-animation-duration: 1s;
		    -webkit-animation-iteration-count: infinite;
		    -webkit-animation-direction: linear;
		    opacity:0.1;
		    -webkit-transform:scale(0.7);
  		}
  		
  		#block1 {
  			-webkit-animation-delay: .3s;
  		}
  		#block2 {
  			-webkit-animation-delay: .4s;
  		}
  		#block3 {
  			-webkit-animation-delay: .5s;
  		}
  		
  	}
  
  	div.playerVolume {
	    width: $player-width - 230;
	    float: right;
	    .playerVolumeSlider {
		  	@include slider-style;
		  	@include border-radius(3px);
		  	width: $player-width - 270;
		  	margin-top: 12px;
		  	height: 6px;
		  	font-size: 8px;
		  	/* IE */
		  	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF777777, endColorstr=#FF9999AA);
	    }
	    div {
	      	width: 30px;
	      	height: 30px;
	      	float: right;
	      	ul.playerControls {
	        	width: 30px;
	      	}
	    }
  	}
  
  	.playerPlaylist {
    	ol {
      		@include border-radius(5px);
      		@include gradient($box-color-1,$box-color-2);
	        margin: 10px 20px;
	        padding: 10px;
	        border-bottom: 1px solid #fff;
	        font-size: 12px;
	        color: #ddd;
	        text-shadow: 0 1px 0 #000;
	        list-style-position: inside;
	        height: 110px;
	        overflow: auto;
	        /* IE */
	        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF555555, endColorstr=#FF333333);
        }
		a {
      		font-weight: normal;
	    }
	    li.playerCurrent > a {
	      	font-weight: bold;
	    }
	    a {
	        &.playerCurrentType {
	        	font-weight: bold;
	        }
	        &.playerTypeNotSupported {
	        	color: $error-color;
	        }
	    }
	    li {
       		padding: 5px;
      		div {
        		float: right;
      		}
    	}
  	}
}